@font-face {
  font-family: Sophia;
  src: url(fontes/josephsophia.otf)
}

@font-face {
  font-family: Caviar;
  src: url(../fontes/CaviarDreams.ttf);
}

@font-face {
  font-family: Birds;
  src: url(fontes/Birds\ of\ Paradise\ ©\ PERSONAL\ USE\ ONLY.ttf);
}

@font-face {
  font-family: LucyRose;
  src: url(fontes/LucyRosePERSONAL-Regular.otf);
}

@font-face {
  font-family: Sterling;
  src: url(fontes/SerlingGalleria_PERSONAL_USE_ONLY.otf);
}

body {
  background-color: #111;
  color: white;
}

.h1 {
  font-family: Caviar;
  font-size: 3em; 
  text-align: center;
}

#logo {
  margin: auto;
  display: block;
  padding: 20px;
  width: 370px;
}

#background-header {
  width: 100%;
  background-image: url("../background-logo/background-pq.jpg");
  background-size: cover;
  height: 100px;
}

#barra-pesquisa {
  background-image: linear-gradient(to bottom, rgb(211, 211, 211), rgb(136, 136, 136));
  display: block;
  margin: auto;
  width: 150px;
  height: 30px;
}

#botão-pesquisa {
  background-image: linear-gradient(to bottom, #06bcc1, #097caa);
  height: 30px;
  text-align: center;
  display: flex;
}

#navbar {
  font-size: 18px;
  text-transform: uppercase;
  padding: 8px 10px;
  border-bottom: 2px solid #06bcc1;
  margin-bottom: 35px;
}

#nav-item {
  display: block;
  margin: 0 auto;
}

#logo-navbar {
  width: 250px;
  right: 10px;
}

.nav-link {
  margin-right: 25px;
}

footer {
  width: 100%;
  color: white;
}

#footer_content {
  margin-top: 100px;
  background-color: #212529;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem 3.5rem;
}

#footer_content h1 {
  font-size: 2em;
}

#footer_contacts h1 {
  margin-bottom: 0.74rem;
}

#footer_social_media {
  display: inline;
  gap: 1rem;
  margin-top: 1.5rem;
}

#footer_social_media a {
  margin-right: 25px;
}

#footer_social_media a:hover {
  opacity: 0.5;
  transition: 0.3s;
}

#footer_atendimento h1 {
  margin-bottom: 0.74rem;
}

#botão-subir-tela {
  background-image: linear-gradient(to bottom, #06bcc1, #097caa);
  background-color: #06bcc1;
  text-decoration: none;
  font-size: 1.2em;
  color: white;
  position: fixed;
  padding: 10px;
  right: 10px;
  bottom: 10px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.336);
  border-radius: 8px;
  transition: .3s;
}

#botão-subir-tela:hover {
  background-color: #00000027 !important;
}

aside#créditos {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 25px;
  background-color: #111;
  color: white;
  font-size: small;
  font-weight: 100;
  padding-top: 3px;
}

#créditos strong {
  color: #06bcc1;
}

@media screen and (max-width: 768px) {
  #footer_content {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
}


/* Slider */

.container-fluid {
  padding: 0  !important; 
}

#imagens-carousel {
  border: 30px #06bcc1;
}

#mainSlider .carousel-inner, #mainSlider .carousel-item {
  height: 90vh  !important;
}

#mainSlider .carousel-caption {
  top: 30%  !important;
}

#mainSlider .carousel-caption h2 {
  font-size: 50px  !important;
  margin-bottom: 30px  !important;
}

#mainSlider .carousel-caption p {
  font-size: 22px  !important;
  font-weight: 300  !important;
  margin-bottom: 100px  !important;
  color: white  !important;
}

.myimage {
  width: 100%;
  height: calc(100vh);
  object-fit: cover;
  object-position: center;
}

#main-btn {
  background-color: #06bcc1  !important;
  color: white  !important;
  text-transform: uppercase  !important;
  width: 200px  !important;
  height: 60px  !important;
  padding: 10px 20px  !important;
  border-radius: 30px  !important;
  border: 3px solid transparent  !important;
  transition: .5s  !important;
}

.main-btn:hover {
  text-decoration: none  !important;
  color: white  !important;
  background-color: transparent  !important;
  border-color: #06bcc1  !important;
}

.carousel-indicators .active {
  background-color: #06bcc1  !important;
}

/* Slider */

/* CONTATO */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

#entre-em-contato {
  font-size: 2em;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

#entre-em-contato h1{
  font-size: 1.5em;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.wrapper a .button{
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 0 5px;
  color: #111;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
}

.wrapper a .button:hover{
  width: 200px;
}

.wrapper a .button .icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}

.wrapper a .button:hover #whatsapp{
  background: #25D366;
}

.wrapper a .button:hover #instagram{
  background: #E1306C;
}

.wrapper a .button:hover #pinterest{
  background: #E60023;
}

.wrapper a .button .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}

.wrapper a .button:hover .icon i{
  color: #fff;
}

.wrapper a .button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}

.wrapper a .button:nth-child(1) span{
  color: #000;
}

/*CONTATO*/

/*Eventos*/

.eventos-títulos {
  background-color: #212529;
  margin-bottom: 0;
  padding: 8px;
  margin-top: 40px;
}